/* src/components/FourthSection/FourthSection.css */

.fourth-section {
    padding: 150px;
    text-align: left;
    padding-top:5px;
    padding-bottom: 20px;
}

.fourth-section-content {
    margin-bottom: 20px;
}

.fourth-section-title {
    font-size: 36px;
    line-height: 1.2;
    color: #080808;
    margin-bottom: 10px;
}

.fourth-section-description {
    font-size: 16px;
    line-height: 1.5;
    color: #080808;
}

.fourth-section-events {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    margin-top: 1px;
   
}

.event-card {
    text-align: left;
    width: 80%;
    align-items: center;
}

.event-image {
    padding-top: 2px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.event-title {
    font-size: 17px;
    color: #454343;
 
}

.event-description {
    font-size: 14px;
    color: #555;
    
}

.fourth-section-footer {
    margin-top: 10px;
    font-size: 16px;
    color: #ac0606;
    text-align: left;
}