/* src/components/FourthSection/FourthSection.css */

.fourth-section {
    padding: 15px;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 20px;
}

.fourth-section-content {
    margin-bottom: 20px;
}

.fourth-section-title {
    font-size: 36px;
    line-height: 1.2;
    color: #AD343E;
    margin-bottom: 10px;
}

.fourth-section-description {
    font-size: 16px;
    line-height: 1.5;
    color: #080808;
}

.fourth-section-events {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    margin-top: 1px;
    
}

.event-card {
    text-align: left;
    width: 80%;
    align-items: center;
}

.event-image {
    padding-top: 2px;
    width: 210px;
    height: 230px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event-title {
    font-size: 17px;
    color: #AD343E;
    margin-bottom: 1px;
}

.event-description {
    font-size: 14px;
    color: #555;
}

.fourth-section-footer {
    margin-top: 20px;
    font-size: 16px;
    color: #870505;
    text-align: left;
}