/* src/components/Footer.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 40px 120px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    max-width: 210px;
}

.footer-section h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #f5f1f1;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    padding-top: 35px;
    color: #ddd;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-social-icons a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: #AD343E;
    border-radius:25px;
    padding: 8px 8px;

}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
}

.footer-links li a:hover {
    color: #640f0f;
}

.footer-instagram-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.footer-instagram-gallery img {
    width: 137px;
    height: 130px;
    border-radius: 5px;
}