.reservation-page {
    padding: 20px;
    text-align: center;
}

.reservation-title {
    font-size: 4.5rem;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
        font-weight: 300;
}

.reservation-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: "Playwrite GB S", cursive;
        font-weight: 100;
}