.reservation-page {
    padding: 20px;
    text-align: center;
}

.reservation-title {
    font-size: 3.9rem;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
        font-weight: 300;
}

.reservation-subtitle {
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
        font-weight: 300;
}