.menu-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes de largeur égale */
    gap: 10px;
    /* Réduit l'espace entre les cartes */
    margin-top: 20px;
}

.menu-cards .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    /* Ajout d'un peu de padding pour ne pas être trop serré */
}

.menu-cards .card img {
    width: 100%;
    height: 150px;
    /* Réduit la taille de l'image */
    object-fit: cover;
}

.menu-cards .card .card-content {
    padding: 10px;
    /* Réduit le padding dans la carte */
}

.menu-cards .card .card-content h3 {
    font-size: 16px;
    /* Réduit la taille du titre */
    margin-bottom: 8px;
}

.menu-cards .card .card-content p {
    font-size: 12px;
    /* Réduit la taille de la description */
    color: #666;
}

.menu-cards .card .card-content .price {
    font-weight: bold;
    font-size: 14px;
    /* Réduit la taille du prix */
    color: #333;
}