.card-menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    transition: transform 0.3s ease;
}

.card-menu:hover {
    transform: translateY(-5px);
}

.card-menu-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
}

.card-menu-details {
    padding: 1px;
}

.card-menu-price {
    font-size: 14px;
    color: #AD343E;
    margin-bottom: 8px;
    font-weight: bold;
}

.card-menu-name {
    font-size: 18px;
    margin-bottom: 8px;
    color: #2e2d2d;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.card-menu-description {
    font-size: 14px;
    color: #555;
}