.home {
    height: 630px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
    /* Couleur de fond noire */
}

.home-content {
    max-width: 600px;
}

.home-title {
    font-size: 70px;
    margin-bottom: 0px;
    color: aliceblue;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    /* Aligner le texte à gauche */
}

.home-buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    /* Espace entre le titre et les boutons */
}

.home-button {
    color: white;
    /* Couleur du texte */
    padding: 10px 20px;
    /* Espace intérieur */
    text-decoration: none;
    /* Supprime le soulignement */
    border-radius: 5px;
    /* Coins arrondis */
    transition: background-color 0.3s;
   
}

/* Styles spécifiques pour chaque bouton */
.home-button.reservation {
    background-color: #ff6600;
border: 2px solid #070707;}

.home-button.reservation:hover {
    background-color: #e65c00;
}

.home-button.menu {
    background-color: black;
    border:white;

}

.home-button.menu:hover {
    background-color: #333;
}

.image-right {
    width: 700px;
    height: 608px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 5px;
}