.reservation-info-container {
    display: flex;
    justify-content: space-around;
    background-color: #eceaea;
    margin-top: 60px;
    padding-left: 290px;
    padding-right: 290px;
}

.info-section {
    text-align: left;
    margin: 10px;
}

.info-section h2 {
    font-size: 1.25rem;
    margin-bottom: 5px;
   
}

.info-section .num-tel{
    color: #AD343E;
    font-weight: bold;
    font-size: 20px;

}