/*3 eme section*/
.third-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    padding: 40px;
    background-color: #ebeaea;
    padding-bottom: 70px;
}

.third-section-image-container {
    position: relative;
    width: 50%;
    margin-left: 140px;
}

.third-section-image{
    width: 500px;
    height: 450px;
    border-radius: 10px;
}

.contact-card {
    position: absolute;
    top: 280px;
    left: 270px;
    background-color: #640f0f;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    height: 180px;
    opacity: 0.9;
}

.contact-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f5f1f1;
}

.contact-card p {
    font-size: 14px;
    margin: 5px 0;
}

.third-section-content {
    width: 45%;
    padding-right: 100px;
}

.third-section-title {
    font-size: 40px;
    color: #333;
    line-height: 1.3;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 300;

}

.third-section-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.third-section-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    color: #AD343E;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.third-section-button:hover {
    background-color: #d1bfbf;
}