/* src/components/FifthSection/FifthSection.css */

.fifth-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ebeaea;
    padding-top: 80px;
}

.fifth-section-image-container {
    flex: 1;
}

.fifth-section-main-image {
    width: 350px;
    height: 250px;
    height: auto;
    border-radius: 10px;
    padding-left: 170px;
}

.fifth-section-side-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.side-image1 {
    width: 180px;
    height: 240px;
    padding-top: 50px;
    border-radius: 10px;
}
.side-image2 {
    width: 180px;
    height: 200px;
    
    border-radius: 10px;
}

.fifth-section-content {
    flex: 2;
    margin-right: 50px;
    text-align: left;
}

.fifth-section-title {
    font-size: 45px;
    color: #AD343E;
    line-height: 1.2;
    margin-bottom: 20px;
}

.fifth-section-description {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.fifth-section-points {
    list-style: none;
    padding: 0;
    color: #870505;
}

.fifth-section-points li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.fifth-section-points li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #AD343E;
    font-weight: bold;
}