name: CI/CD DevOps PastaQuest

on:
  push:
    branches:
      - main

jobs:
  # =====================
  # 1️⃣ BUILD & PUSH BACKEND ET FRONTEND EN PARALLÈLE
  # =====================
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [backend, frontend]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          if [ "${{ matrix.service }}" == "backend" ]; then
            docker build -t hamdihend/pastaquest-backend ./backend
            docker push hamdihend/pastaquest-backend
          else
            docker build -t hamdihend/pastaquest-frontend ./frontend
            docker push hamdihend/pastaquest-frontend
          fi

  # =====================
  # 2️⃣ DEPLOY TO AZURE
  # =====================
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: pastaquest-app
          images: |
            hamdihend/pastaquest-backend
            hamdihend/pastaquest-frontend
