name: CI/CD DevOps PastaQuest

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # ✅ BACKEND
    - name: Build backend image
      run: docker build -t hamdihend/pastaquest-backend -f backend/Dockerfile .

    - name: Push backend image
      run: docker push hamdihend/pastaquest-backend

    # ✅ FRONTEND
    - name: Build frontend image
      run: docker build -t hamdihend/pastaquest-frontend -f frontend/Dockerfile frontend

    - name: Push frontend image
      run: docker push hamdihend/pastaquest-frontend
