name: CI/CD DevOps PastaQuest

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # BACKEND IMAGE
      - name: Build backend image
        run: docker build -f backend/Dockerfile -t hamdihend/pastaquest-backend .

      - name: Push backend image
        run: docker push hamdihend/pastaquest-backend

      # FRONTEND IMAGE
      - name: Build frontend image
        run: docker build -f frontend/Dockerfile -t hamdihend/pastaquest-frontend .

      - name: Push frontend image
        run: docker push hamdihend/pastaquest-frontend
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
